<!--Contacts page-->
<div class="container mt-6">
  <div class="row">
    <div class="card col-lg-6" style="width: 18rem" >
      <div class="card-body">
        <h5 class="card-title"> Jeffrey Sy</h5>
        <h6 class="card-subtitle mb-2 text-muted">&nbsp;Software Engineer, Programmer, Database Admin</h6>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Phone: 416-258-5961</li>
          <li class="list-group-item">Email: jeffjsy@gmail.com</li>
          <li class="list-group-item">Location: Scarborough, ON</li>
          <li class="list-group-item">Linkedin: <a href="https://www.linkedin.com/in/jeffrey-sy-535373220/" target="_blank">Jeffrey Sy</a>
          <li class="list-group-item"><a href="/home">Return to home page</a></li>  
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 container-fluid">
      <form>
        <div class="mb-3">
          <h5>If you would like to contact me, please use the form below.</h5>
          <label for="First Name" class="form-label">First Name</label>
          <input type="fName" class="form-control" id="fName" placeholder="First Name"/>

          <label for="Last Name" class="form-label">Last Name</label>
          <input type="lName" class="form-control" id="lName" placeholder="Last Name"/>

          <label for="Contact Number" class="form-label">Contact Number</label>
          <input type="cNumber" class="form-control" id="cNumber" placeholder="555-555-5555"/>

          <label for="Email Address" class="form-label">Email address</label>
          <input type="email" class="form-control" id="eAddress" placeholder="name@example.com"/>     
        
          <label for="message" class="form-label">Message</label>
          <textarea class="form-control" id="messageText" rows="3" placeholder="Enter your message here"></textarea>
          <div class="mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>  
        </div>
      </form>      
    </div>
  </div>
</div>
