<!--Projects section -->  
    
    <div class="album py-5 bg-light">
      <div class="container">  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img src="../../assets/images/sql_sample.png" class="img-fluid" alt="SQL">  
              <div class="card-body">
                <p class="card-text">A small sample of my work written using SQL and PL/SQL to create, manage and query databases.</p>                
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://github.com/jeffjsy/COMP214" target="_blank">View</a></button>
                  </div>                  
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="../../assets/images/csharp_sample.png" class="img-fluid" alt="C# sample">  
              <div class="card-body">
                <p class="card-text">A storefront application written using C#. Features data persistence, object manipulation and XAML implemntation.<p>                
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://github.com/jeffjsy/COMP123FINAL" target="_blank">View</a></button>
                  </div>                  
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="../../assets/images/srs_sample.png" class="img-fluid" height="300" alt="SRS document">
              <div class="card-body">
                <p class="card-text">Collaborated with others to contribute to the creation of a SRS document. Features ERD, class, swimlane and other diagrams.</p>                
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="../../content/Collectopedia.pdf" target="_blank">View</a></button>
                  </div>                  
                </div>
              </div>
            </div>
          </div>          
        </div>        
  
  
  
    