<!--Services page-->

<div class="container pt-4">  
  <div class="row justify-content-md-center">
    <div class="col-9">
      <h4>Application development</h4>
      <p>Work with client to develop a program or set of programs to peform the different tasks that a business requires. Together we will gather requirements, design prototypes, test, implement and integrate to your customer's satisfaction.</p>
    </div>
    <div class="col">
      <img src="../../assets/images/appdev.jpg">
    </div>        
  </div>
  <div class="row justify-content-md-center">
    <div class="col">
      <img src="../../assets/images/database-development.png">
    </div>
    <div class="col-9">
      <h4>Database administration</h4>
      <p>Manage and maintain database systems that are essential for running your business. Using the latest tools, problem solving skills, and meticulous attention to detail, all the necessary tasks for database administration including data extraction, data loading, database backup and recovery, security, authentication, peformance monitoring and more will be achieved efficiently. </p>
    </div>      
  </div>
  <div class="row justify-content-md-center">
    <div class="col-9 pt-5">
      <h4>Application development</h4>
      <p>Work with client to develop a program or set of programs to peform the different tasks that a business requires. Together we will gather requirements, design prototypes, test, implement and integrate to your customer's satisfaction.</p>
    </div>
    <div class="col">
      <img src="../../assets/images/appdev.jpg">
    </div>        
  </div>  

</div>




<!--images taken from:
https://www.cswebsolutions.ca/app-development.aspx
https://www.mallocinc.com/database-development-services


-->