<!--About me page-->
<div class="row">
      <div class="col-8">
        <div class="card">
          <div class="card-body">
            My name is Jeffrey Joseph Sy (pronounced like the letter, C). I am a Toronto-based software engineer who believes in personal growth and endless learning. When not in front of my computer I like to stay active by biking, hiking with my dog, and swimming. I am also a huge basketball fan, especially of the Toronto Raptors.
            <p></p>  
            <p>If you would like to know more about me, please view one of the links below</p>
            <ul>
              <li><a href="../content/JeffreySy_resume_2021.pdf">Work resume</a></li>
              <li><a href="/projects">Ongoing and completed projects</a></li>
              <li><a href="/services">Services</a></li>
            </ul> 
          </div>
        </div>
      </div>
      <div class="col-3">        
          <img src="../assets/images/profile2.jpg" class="img-rounded" width="135%">        
      </div>
    </div>         
  </div>