<!--Home/Landing page-->
<div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">            
            <h3 class="mb-0">Welcome!</h3>
            <div class="mb-1 text-muted">Sept 29, 2021</div>
            <p class="card-text mt-2">My name is Jeffrey Sy. I am a software, UX/UI, and database engineeer. I love to learn and to tinker. Please take a look around.</p>
            <strong class="d-inline-block mb-2 text-end text-primary">-J Sy.</strong>
          </div>
          <div class="col-auto d-none d-lg-block m-auto">                  
            <img src="../assets/images/profile.jpg" style="margin:0px 10px">  
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">            
            <h3 class="mb-0">Mission Statement</h3>            
            <p class="mb-auto mt-auto">I want to grow and learn continuously, and use that knowledge to help others and achieve as much as I can. </p>
            <p></p>            
            <p>Click to learn more <a href="/about">about me</a> or you can check out <a href="/projects">my projects</a></p>   
          </div>   
          </div>
        </div>
      </div>
